<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.rd.rkjc.web.dao.read.dq.IAjXyrxxDqMysqlMapper">
	<resultMap id="AjXyrxxMapper" type="ajXyrxx">
    	<!--<id property="id" column="id"/>-->
    	<id property="xyrbh" column="xyrbh"/>
    	<result property="ajbh" column="ajbh"/>
    	<result property="rybh" column="rybh"/>
    	<result property="gmsfhm" column="gmsfhm"/>
    	<result property="xm" column="xm"/>
    	<result property="xmpy" column="xmpy"/>
    	<result property="cym" column="cym"/>
    	<result property="cympy" column="cympy"/>
    	<result property="bmch" column="bmch"/>
    	<result property="bmchpy" column="bmchpy"/>
    	<result property="xb" column="xb"/>
    	<result property="csrq" column="csrq"/>
    	<result property="mz" column="mz"/>
    	<result property="nlxx" column="nlxx"/>
    	<result property="nlsx" column="nlsx"/>
    	<result property="gjdq" column="gjdq"/>
    	<result property="jggjdq" column="jggjdq"/>
    	<result property="jgssxq" column="jgssxq"/>
    	<result property="jgxz" column="jgxz"/>
    	<result property="hjdzssxq" column="hjdzssxq"/>
    	<result property="hjdzxz" column="hjdzxz"/>
    	<result property="xzqh" column="xzqh"/>
    	<result property="zzxz" column="zzxz"/>
    	<result property="whcd" column="whcd"/>
    	<result property="hyzk" column="hyzk"/>
    	<result property="zy" column="zy"/>
    	<result property="zylb" column="zylb"/>
    	<result property="fwcs" column="fwcs"/>
    	<result property="lxdh" column="lxdh"/>
    	<result property="sgxx" column="sgxx"/>
    	<result property="sgsx" column="sgsx"/>
    	<result property="xx" column="xx"/>
    	<result property="ky" column="ky"/>
    	<result property="lx" column="lx"/>
    	<result property="tx" column="tx"/>
    	<result property="xzFwcsdh" column="xz_fwcsdh"/>
    	<result property="xzFwcsdz" column="xz_fwcsdz"/>
    	<result property="tzxx" column="tzxx"/>
    	<result property="tzsx" column="tzsx"/>
    	<result property="zcxx" column="zcxx"/>
    	<result property="tmtzms" column="tmtzms"/>
    	<result property="zylbbcms" column="zylbbcms"/>
    	<result property="tszc" column="tszc"/>
    	<result property="jsxm" column="jsxm"/>
    	<result property="jslxdh" column="jslxdh"/>
    	<result property="jszzxz" column="jszzxz"/>
    	<result property="scrhjksj" column="scrhjksj"/>
    	<result property="hjkxgsj" column="hjkxgsj"/>
    	<result property="zad" column="zad"/>
    	<result property="fzlx" column="fzlx"/>
    	<result property="sjy" column="sjy"/>
    </resultMap>
    
    <select id="listAjXyrxxDq" resultMap="AjXyrxxMapper" parameterType="java.util.Map" >
       		<!-- no ";" at the end -->   
        	SELECT *, count(DISTINCT ajbh) FROM aj_xyrxx_dq
		   <where>
			   <if test="gmsfhm !=null and gmsfhm !=''">
				   and gmsfhm =#{gmsfhm}
			   </if>

			   <if test="xm !=null and xm !=''">
				   and xm like '%${xm}%'
			   </if>

			   <if test="xb !=null and xb !=''">
				   and xb like #{xb}
			   </if>
			   <if test="hjd !=null and hjd !=''">
				   and gmsfhm ='${hjd}%'
			   </if>
			   <if test="csrqStart !=null and csrqStart !='' and csrqEnd !=null and csrqEnd !='' ">
				   and ((year(now())-year(csrq)-1) + ( DATE_FORMAT(csrq, '%m%d') &lt;= DATE_FORMAT(NOW(), '%m%d') )) BETWEEN ${csrqStart} and ${csrqEnd}
			   </if>
			   <if test="sfzhAll !=null and sfzhAll !=''">
				   and gmsfhm in (#{sfzhAll})
			   </if>
		   </where>
GROUP by ajbh
    </select>
</mapper>


