<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixin.rd.rkjc.web.dao.read.qk.IGzdReadMapper" >
  
  <resultMap id="gzdResultMap" type="com.zhixin.rd.rkjc.web.entity.gzdEntity">
    <id column="id" property="id"/>
    <result column="fw_ip" property="fwIp" jdbcType="VARCHAR"/>
    <result column="gzmj_jh" property="gzmjJh" jdbcType="VARCHAR"/>
    <result column="gzmj_xm" property="gzmjXm" jdbcType="VARCHAR"/>
    <result column="xyr_sfzh" property="xyrSfzh"  jdbcType="VARCHAR"/>
    <result column="gzsj" property="gzsj"/>
  </resultMap>

  <select id="getGzdListByXyrSfzh" resultMap="gzdResultMap" parameterType="java.lang.String">
    select * from gzd  where 1=1
    <!--<if test="xyrSfzh !=null and xyrSfzh !=''">
      and xyr_sfzh=${xyrSfzh}
    </if>-->
    <if test="_parameter != null and _parameter !=''" >
      and xyr_sfzh = #{_parameter,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="GzdCountByXyrSfzh" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1) from gzd  where 1=1
    <!--<if test="xyrSfzh !=null and xyrSfzh !=''">
      and xyr_sfzh=${xyrSfzh}
    </if>-->
    <if test="_parameter != null and _parameter !=''" >
      and xyr_sfzh = #{_parameter,jdbcType=VARCHAR}
    </if>
  </select>
  
</mapper>