<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.rd.memory.web.dao.gxz.IGxzMapper">
	<resultMap id="gxzMapper" type="gxz">
    	<id property="id" column="id"/>
    	<result property="xm" column="xm"/>
    	<result property="jj" column="jj"/>
    	<result property="zp" column="zp"/>
    </resultMap>

    <select id="queryGxzMc" resultMap="gxzMapper"  >
        	SELECT * FROM gxz 
    </select>
    <select id="queryGxz" resultMap="gxzMapper"  parameterType="java.util.HashMap">
        	SELECT * FROM gxz ORDER BY id  desc  limit ${pageIndex},${rows}
    </select>
    <select id="countGxz" resultType="java.lang.Integer" >
        	SELECT count(*) FROM gxz
    </select>
	<!-- 增加信息 -->
	<insert id="insertGxz" parameterType="gxz">
		insert into gxz
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="xm != null">
				xm,
			</if>
			<if test="jj != null">
				jj,
			</if>
			<if test="zp != null">
				zp,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="xm!= null">
				#{xm},
			</if>
			<if test="jj != null">
				#{jj},
			</if>
			<if test="zp != null">
				#{zp},
			</if>
		</trim>
	</insert>
	
	  <delete id="deleteGxz" parameterType="Long">  
            DELETE FROM gxz WHERE id=#{id}
    </delete> 
    
       <update id="updateGxz" parameterType="gxz">  
            UPDATE gxz SET 
	    		xm=#{xm},
	    		jj=#{jj}
            WHERE 
	    		id=#{id}
    </update>
       <update id="updateGxzTp" parameterType="gxz">  
            UPDATE gxz SET 
	    		zp=#{zp}
            WHERE 
	    		id=#{id}
    </update>
</mapper>


