<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhixin.rd.memory.web.dao.zaiti.ISpMapper">
	<resultMap id="spMapper" type="sp">
    	<id property="id" column="id"/>
    	<result property="mc" column="mc"/>
    	<result property="wyid" column="wyid"/>
    	<result property="ztId" column="zt_id"/>
    	<result property="rwId" column="rw_id"/>
    	<result property="jlId" column="jl_id"/>
    	<result property="sc" column="sc"/>
    	<result property="wjlx" column="wjlx"/>
    	<result property="pssj" column="pssj"/>
    	<result property="psdd" column="psdd"/>
    	<result property="jj" column="jj"/>
    	<result property="gxzId" column="gxz_id"/>
    	<result property="spzp" column="spzp"/>
    	<result property="ztmc" column="ztmc"/>
    	<result property="rwxm" column="rwxm"/>
    	<result property="jlmc" column="jlmc"/>
    	<result property="gxzxm" column="gxzxm"/>
    	<result property="spdz" column="spdz"/>
    	<result property="userId" column="user_id"/>
    	<result property="sfGk" column="sf_gk"/>
    	<result property="syz" column="syz"/>
    	<result property="bz" column="bz"/>
    	<result property="zm" column="zm"/>
		<result property="sjUrl" column="sj_url"/>
    </resultMap>

    <select id="queryAllSp3" resultMap="spMapper"  parameterType="java.util.HashMap">
        SELECT *,(select ztmc from zt where zt.id = wd.zt_id ) ztmc ,
(SELECT xm  from rw where  rw.id =  wd.rw_id) rwxm ,
(SELECT xm from  gxz  where  gxz.id = wd.gxz_id) gxzxm,
(select mc from jl where jl.id=wd.jl_id ) jlmc FROM  sp  wd where wd.wyid != ""  limit ${pageIndex},${rows}
    </select>
    <select id="countSp3" resultType="java.lang.Integer" >
        	SELECT count(*) FROM sp where wyid !=""
    </select>
    <select id="queryAllSp2" resultMap="spMapper"  parameterType="java.util.HashMap">
        SELECT *,(select ztmc from zt where zt.id = wd.zt_id ) ztmc ,
(SELECT xm  from rw where  rw.id =  wd.rw_id) rwxm ,
(SELECT xm from  gxz  where  gxz.id = wd.gxz_id) gxzxm,
(select mc from jl where jl.id=wd.jl_id ) jlmc FROM  sp  wd where wd.wyid= ""  limit ${pageIndex},${rows}
    </select>
    <select id="countSp2" resultType="java.lang.Integer" >
        	SELECT count(*) FROM sp where wyid=""
    </select>
    <select id="querySp" resultMap="spMapper"  parameterType="java.util.HashMap">
        SELECT *,(select ztmc from zt where zt.id = wd.zt_id ) ztmc ,
(SELECT xm  from rw where  rw.id =  wd.rw_id) rwxm ,
(SELECT xm from  gxz  where  gxz.id = wd.gxz_id) gxzxm,
(select mc from jl where jl.id=wd.jl_id ) jlmc FROM  sp  wd ORDER BY id  desc  limit ${pageIndex},${rows}
    </select>
    <select id="querySpList" resultMap="spMapper"  >
        	SELECT
				s.*,
			  j.mc jlmc,
				r.xm rwxm,
			  g.xm gxzxm
			FROM sp s
			left join gxz g on g.id = s.gxz_id
			left join jl j on j.id = s.jl_id
			left join rw r on r.id = s.rw_id
    </select>
    <select id="countSp" resultType="java.lang.Integer" >
        	SELECT count(*) FROM sp
    </select>
	<!-- 增加信息 -->
	<insert id="insertSp" parameterType="sp">
		insert into sp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc != null">
				mc,
			</if>
			<if test="wyid != null">
				wyid,
			</if>
			<if test="ztId != null">
				zt_id,
			</if>
			<if test="rwId != null">
				rw_id,
			</if>
			<if test="jlId != null">
				jl_id,
			</if>
			<if test="sc != null">
				sc,
			</if>
			<if test="wjlx != null">
				wjlx,
			</if>
			<if test="pssj != null">
				pssj,
			</if>
			<if test="psdd != null">
				psdd,
			</if>
			<if test="jj != null">
				jj,
			</if>
			<if test="gxzId != null">
				gxz_id,
			</if>
			<if test="spzp != null">
				spzp,
			</if>
			<if test="zm != null">
				zm,
			</if>
			<if test="sjUrl != null">
				sj_url,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="mc != null">
				#{mc},
			</if>
			<if test="wyid != null">
				#{wyid},
			</if>
			<if test="ztId != null">
				#{ztId},
			</if>
			<if test="rwId != null">
				#{rwId},
			</if>
			<if test="jlId != null">
				#{jlId},
			</if>
			<if test="sc != null">
				#{sc},
			</if>
			<if test="wjlx != null">
				#{wjlx},
			</if>
			<if test="pssj != null">
				#{pssj},
			</if>
			<if test="psdd != null">
				#{psdd},
			</if>
			<if test="jj != null">
				#{jj},
			</if>
			<if test="gxzId != null">
				#{gxzId},
			</if>
			<if test="spzp != null">
				#{spzp},
			</if>
			<if test="zm != null">
				#{zm},
			</if>
			<if test="sjUrl != null">
				#{sjUrl},
			</if>
		</trim>
	</insert>
	
	  <delete id="deleteSpById" parameterType="Long">  
            DELETE FROM sp WHERE id=#{id}
    </delete> 
    
       <update id="updateSp" parameterType="sp">  
            UPDATE sp SET 
	    		mc=#{mc},
	    		wyid=#{wyid},
	    		sj_url=#{sjUrl},
	    		zt_id=#{ztId},
	    		rw_id=#{rwId},
	    		jl_id=#{jlId},
	    		sc=#{sc},
	    		jj=#{jj},
	    		wjlx=#{wjlx},
	    		pssj=#{pssj},
	    		psdd=#{psdd},
	    		jj=#{jj},
	    		gxz_id=#{gxzId}
            WHERE 
	    		id=#{id}
    </update>
    
       <update id="updateSpTp" parameterType="sp">  
            UPDATE sp SET 
	    		spzp=#{spzp}
            WHERE 
	    		id=#{id}
    </update>
    
    <update id="updateShSp" parameterType="sp">  
            UPDATE sp SET 
       			wyid=#{wyid},
	    		spzp=#{spzp}
            WHERE 
	    		id=#{id}
    </update>
</mapper>


